<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle %> – UlmApi.de</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Live MARPROM">
    <meta name="author" content="Marko Burjek">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="/css/flatly/bootstrap.min.css">


    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="/css/livemap.css" rel="stylesheet">
    
    
    <% if (type == "map") { %>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<!--<script type="text/javascript" src="/js/clock.js"></script>-->
	<script type="text/javascript" src="/js/livemap.js"></script>
    <% } %>
    
  </head>

  <body>

	  <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/map">Marprom LiveMap</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li <% if (type == "map") { %>class="active" <% } %>><a href="/map">Zemljevid</a></li>
            <li <% if (type == "about") { %>class="active" <% } %>><a href="/about">O strani</a></li>
		    <li class="hidden-xs hidden-print disabled"><a href="#" id="clock"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<% if (type == "map") {%>
    <div class="container full">

    <div id="map" />
	</div>


<div class="modal fade" id="warning" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" onclick="javascript:$('#warning').modal('hide');" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Nočne vožnje</h4>
      </div>
      <div class="modal-body">
          <p>Ponoči od 23 ure naprej sta še samo dve vožnji Krožna 1 in Krožna 2. Normalen vozni red je spet ob 5 zjutraj.</p>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="javascript:$('#warning').modal('hide');" class="btn btn-primary">Zapri</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <% } else { %>
    <div class="container">
     <div class="jumbotron">
        <h1>Živa karta</h1>
        <p>Realnočasovni prikaz avtobusov v Mariboru</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-8">
          <h2>Kaj je to?</h2>
          <p>Aplikacija prikazuje premikanje avtobusov v Mariboru. Podatki so pridobljeni od Marproma in pretvorjeni v obliko
          <a href="https://code.google.com/intl/de-DE/transit/spec/transit_feed_specification.html">
          GTFS</a>.</p>
		 <p>Sama aplikacija je prilagoditev aplikacije za prikaz avtobusov v <a href="http://live.ulmapi.de/map">Ulmu</a> za Maribor.</p>
			<p>Aplikacija uporablja GTFS parser, ki simulira realnočasovne podatke iz GTFS podatkov, ki se potem prikazujejo na karti</p>
<p>Prvotni aplikaciji so dodane barve prog, druga karta, barvne označbe avtobusov, nove različice knjižnjic...</p>

          <h2>Zakaj?</h2>
          <p>Zakaj pa ne? Hotel sem se igrati s Marpromovimi podatki v GTFS obliki.</p>
        </div>
        <div class="col-sm-4">
          <h2>Uporabljene tehnologije</h2>
			 <dl>
		        <dt>node.js</dt>
        		<dd>Platforma</dd>
		        <dt>express.js</dt>
        		<dd>framework</dd>
		        <dt>Socket.IO</dt>
        		<dd>Messaging library</dd>
		        <dt>Leaflet</dt>
        		<dd>JavaScript mapping library</dd>
		        <dt>bootstrap</dt>
        		<dd>CSS predloga</dd>
        	 </dl>
       </div>
      </div>
      <div class="row">
        <div class="col-sm-8">      
          <h2>Avtor</h2>
			 <dl>
		        <dt>Marko Burjek</dt>
        		<dd></dd>
        	 </dl>
        </div>
      </div>
</div>

<% } %>



  </body>
</html>
    
